/* PasswordManager.css */
/* 
body {
  font-family: Arial, sans-serif;
  background-color: #fdf6e3;
  margin-top:200px ;
  margin-left: 500px;
  padding: 0;
} */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.password-box {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.password-box h2 {
  text-align: center;
  color: #ff7a00;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1rem;
}

.form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form button,
.generate-btn {
  padding: 10px;
  background: #ff7a00;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form button:hover,
.generate-btn:hover {
  background: #e96a00;
}

.credentials-list {
  margin-top: 1rem;
}

.credential {
  background: #fffaf2;
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 10px;
}

.credential button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
}
